.App {
  text-align: center;
  margin: 0 20%;
  background-color: #caf181;
}

/* FIRST AREA */

.first-area {
  background-color: #4731d3;
  width: 70%;
  padding: 5% 0;
  position: relative;
}

.header {
  margin: 0 0 0 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #caf181;
}

.header h3 {
  font-weight: bold;
  font-size: 1em;
}

.choose-area {
  display: flex;
  gap: 2rem;
  position: absolute;
  right: -7%;
}

.toggle-area {
  height: 2em;
  width: 2em;
}

.first-main-area {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 20%;
}

.first-title-area {
  color: #caf181;
  font-weight: bold;
  padding: 1em 0;
}

.first-desc-area p {
  font-size: 1em;
  width: 130%;
}

.first-desc-area {
  color: #fff;
}

.left-area {
  width: 45%;
  text-align: left;
}

.lang-area {
  cursor: pointer;
}

.button-area {
  margin-top: 10%;
  display: flex;
  gap: 1em;
  width: 80%;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  right: -13%;
  width: 25%;
  border-radius: 5%;
}

/* SKILLS */

.skills-area {
  background-color: #fff;
  display: flex;
  padding: 5% 15%;
  gap: 6em;
}

.skills-area h2 {
  color: #4832d3;
  font-weight: bold;
}

.skills-list-area {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  gap: 5em;
}

.skill {
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  width: 140px;
  gap: 1em;
}

.skill img {
  width: 65px;
}

.skill h6 {
  font-size: 1em;
  color: #777;
  font-weight: 500;
  margin: 0;
}

/*  PROFILE  */

.profile-area {
  background-color: #4731d3;
  padding: 5% 15%;
  color: white;
}

.profile-area h2 {
  text-align: start;
  font-weight: bold;
  color: #caf181;
  margin-bottom: 5%;
}

.profile-main-area {
  display: flex;
  justify-content: center;
}

.profile-info-area {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  text-align: start;
}

.profile-info-area h4 {
  font-size: 1em;
}

.profile-info h6 {
  color: #caf181;
  margin: 0;
  font-size: 0.7em;
  width: 5em;
}
.profile-info p {
  color: #caf181;
  margin: 0;
  font-size: 0.7em;
}

.profile-info {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.about-area {
  width: 40%;
  text-align: start;
}

.about-area h4 {
  font-size: 1em;
}

.about-area p {
  font-size: 0.7em;
}

.middle-area {
  padding-left: 3%;
}

.middle-area img {
  text-align: start;
  width: 80%;
  border-radius: 5%;
}

/* PROJECTS */
.projects-area {
  padding: 5% 15%;
}

.projects-area h2 {
  color: #4731d3;
  text-align: start;
  font-weight: bold;
  margin-bottom: 5%;
}

.projects-main-area {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.project {
  display: flex;
  text-align: start;
  background-color: #fff;
  border-radius: 3%;
}

.project-img {
  border-radius: 3%;
  width: 150%;
}

.project-details {
  padding: 5% 3%;
}

.project-details h6 {
  color: #4832d3;
  font-weight: bold;
  font-size: 1.2em;
}

.project-details p,
.project-buttons,
.project-links {
  font-size: 0.7em;
}

.project-buttons {
  display: flex;
  column-gap: 1em;
}

.button {
  background-color: #4832d3;
  color: #fff;
  text-decoration: none;
  width: 13%;
  border-radius: 23px;
  font-size: 0.9em;
  margin-bottom: 3%;
}

.project-links {
  display: flex;
  column-gap: 1em;
}

.project-links a {
  color: black;
  font-weight: 600;
}

/* FOOTER */

.footer {
  padding: 5% 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.footer h2 {
  color: #4832d3;
  font-weight: bold;
}

.footer p {
  width: 45%;
}

.footer a {
  font-size: 0.9em;
  color: #4832d3;
  font-weight: 500;
  text-decoration: none;
}

.footer a p {
  text-decoration-line: underline;
}

.social-media-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
}

.social-media-area a,
.social-media-area img {
  width: 60%;
  padding-top: 4%;
}
