.App {
  text-align: center;
  margin: 0 10% 0 10%;
  background-color: #caf181;
}

/* FIRST AREA */

.first-area {
  background-color: #4731d3;
  width: 75%;
  padding: 5% 0 5% 0;
  position: relative;
}

.header {
  margin: 0 0 0 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #caf181;
}

.header h3 {
  font-weight: bold;
  font-size: 1.5em;
}

.choose-area {
  display: flex;
  gap: 2rem;
  position: absolute;
  right: -7%;
}

.toggle-area {
  height: 2em;
  width: 2em;
}

.first-main-area {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 15%;
}

.first-title-area {
  color: #caf181;
  font-size: 2em;
  font-weight: bold;
  padding: 1em 0 1em 0;
}

.first-desc-area {
  color: #fff;
}

.left-area {
  width: 45%;
  text-align: left;
}

.lang-area {
  cursor: pointer;
}

.button-area {
  margin-top: 10%;
  display: flex;
  gap: 1em;
  width: 80%;
}

.profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 19%;
  right: -25%;
  width: 50%;
}

/* SKILLS */

.skills-area {
  background-color: #fff;
  display: flex;
  padding: 5% 10% 5% 10%;
}

.skills-area h1 {
  color: #4832d3;
  font-weight: bold;
}

.skills-list-area {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  width: 75%;
}

.skill {
  border: 1px solid red;
  display: flex;
  flex-grow: 1;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
}

.skill img {
}

.skill h6 {
  font-size: 1.3em;
  color: #777;
  font-weight: 500;
}
